@charset "utf-8";
body {
    /*padding-top: 2em;*/
    /*background-color: rgba(220, 220, 220, 0.62);*/
    color: #333;
    font-size: 16px;
    min-width:1155px;
    /*overflow: auto;*/
}
nav.fixed-top{
    background-color: lightseagreen;
}
.container{
    margin-top:25px;
    margin-bottom:30px;

}
main {
    padding-top: 60px;
}
#footer{
    padding:10px;
    background-color:lightblue;
}
ul{
    list-style-type: none;
}
input[type='radio']{
    margin-right:5px;
}
.text{
    text-indent: 2em;
}
.background-gray-dark{
    background-color: #cccccc;
}
.background-light-blue{
    background-color:lightblue;
}
a{
    color:darkgoldenrod;
    font-size:14px;
}
.radio-inline{
    padding-right:35px;
}
.form-group{
    padding:10px;
}
.item{
    display:none;
}
.website-link {
    display: inline-block;
    width: 72px;
    height: 72px;
    margin: 18px;
}

.website-item {
    width: 36px;
    height: 36px;
}

.website-info {
    margin-top: 10px;
    font-size: 12px;
}
.git-img{
    display: inline-block;
    width: 1em;
}
/*body*/
#canvas{
    position: absolute;
    z-index: -1;
}
#nav{
     display: none;
 }
body{
     background-color: #585858;
 }
header{
    color: whitesmoke;
    font-family: '微软雅黑';
    font-size: 1.5em;
    margin: 4em auto;
    text-align: center;
    text-indent: 2px;
    /*background-color: rgba(16, 16, 16, 0.19);*/
    height: 420px;
    padding: 1em 0;
}
#intro{
  font-size: 0.7em;
}
/*group member*/
.membersWall{
    margin-top:3em;
    background-color: rgba(255, 225, 234, 0.4);
    margin-bottom: 10em;
}
.head-box .col-4{
    margin: 0 auto;
    color: whitesmoke;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.head-box hr{
    border-color: whitesmoke;
    width: 2.5em;
}
.head-box h3{
    font-family:"Lucida handwriting", "Snell Roundhand", "Helvetica Neue",Arial,Helvetica,sans-serif;
    margin: 0 10px;
}
.member .col-4{
    /*padding: 2em;*/
    width: 100%;
    margin-right: -1em;
    /*background-color: #ff6c31;*/
}
.member{
    padding: 2em;
}
.member .col-4 img{
    width: 100%;
}
.member .col-8{
    margin-left: 1em;
    color: #fdf2ff;
    padding-top: 2em;
}
.member .headman{
    background: url("../img/xingqiu1.png") no-repeat right bottom;
    background-size: 20%;
}
.member h4{
    margin-bottom: 1em;
}
.member ul li{
    font-size: 1.2em;
}
/*.add{*/
    /*border-top:3px dashed whitesmoke;*/
    /*height: 300px;*/
    /*margin: 2em auto;*/
    /*text-align: center;*/
    /*padding: 5em;*/
/*}*/
/*!*addmessage*!*/
/*.addMsg{*/
    /*border: none;*/
    /*width: 100px;*/
    /*height:100px;*/
    /*background: url("../img/add.png") no-repeat center;*/
    /*cursor: pointer;*/
/*}*/
/*.modal-body textarea{*/
    /*resize: none;*/
/*}*/
/*form p{*/
    /*float:left;*/
    /*clear:both;*/
    /*margin:5px 0;*/
    /*background-color:#f4f4f4;*/
    /*border:1px solid #fff;*/
    /*width:470px;*/
    /*padding:4px;*/
    /*!*margin-left:100px;*!*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*-moz-box-shadow:0px 0px 3px #aaa;*/
    /*-webkit-box-shadow:0px 0px 3px #aaa;*/
    /*box-shadow:0px 0px 3px #aaa;*/
/*}*/
/*form p label{*/
    /*width:130px;*/
    /*float:left;*/
    /*text-align:right;*/
    /*margin-right:15px;*/
    /*line-height:26px;*/
    /*color:#666;*/
    /*text-shadow:1px 1px 1px #fff;*/
    /*font-weight:bold;*/
/*}*/
/*form input:not([type=radio]),*/
/*form textarea,*/
/*form select{*/
    /*background: #ffffff;*/
    /*border: 1px solid #ddd;*/
    /*-moz-border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*border-radius: 3px;*/
    /*outline: none;*/
    /*padding: 5px;*/
    /*width: 250px;*/
    /*float:left;*/
/*}*/