@charset "utf-8";

body {
    /*padding-top: 2em;*/
    background-color: rgb(203, 203, 203);
    color: #333;
    font-size: 16px;
    min-width:1000px;
}
nav.fixed-top{
    background-color: lightseagreen;
}
.container{
    margin-top:25px;
    margin-bottom:30px;

}
main {
    padding-top: 60px;
}
#footer{
    padding:10px;
    background-color:lightblue;
}
ul{
    list-style-type: none;
}
input[type='radio']{
    margin-right:5px;
}
.text{
    text-indent: 2em;
}
.background-gray-dark{
    background-color: #cccccc;
}
.background-light-blue{
    background-color:lightblue;
}
a{
    color:darkgoldenrod;
    font-size:14px;
}
.radio-inline{
    padding-right:35px;
}
.form-group{
    padding:10px;
}
.item{
    display:none;
}
.website-link {
    display: inline-block;
    width: 72px;
    height: 72px;
    margin: 18px;
}

.website-item {
    width: 36px;
    height: 36px;
}

.website-info {
    margin-top: 10px;
    font-size: 12px;
}
.git-img{
    display: inline-block;
    width: 1em;
}
/*header*/
header{
    height: 900px;
    background: url("../img/pintu4.jpg") no-repeat;
    background-size: cover;
}
header .logo{
    display: block;
    text-align: center;
    font-family: Lucida Sans Unicode,Verdana;
}
header h1{
    font-size: 1.5em;
}
header div img{
    margin-top: 12em;
    margin-bottom: 10px;
    width: 78px;
    height:78px;
    -webkit-animation: mytransition linear 1s 0s;
    animation: mytransition 1s linear 0s;
}
@-webkit-keyframes mytransition{
    0% {width: 10px;height: 10px;border: 0;}
    100% {width: 78px;height: 78px;}
}
@keyframes mytransition {
    0% {width: 10px;height: 10px;border: 0;}
    100% {width: 78px;height: 78px;}
}
/*main*/
.main .row{
    /*height: 500px;*/
    /*width: 90%;*/
    margin-top: 3em;
    padding: 10em 2em 2em 2em;
    position: relative;
    text-align: center;
}
.left{
    margin-left: 4.5em;
}
.left img{
    width: 90px;
    border-radius: 45px;
    box-shadow: 0 0 30px white;
    position: absolute;
    top: 0;
    right: 0;
}
.left .cont{
    font-size: 1em;
    padding: 2em;
    padding-right: 4em;
    display: block;
    width: 90%;
    height: 200px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top:-3.5em;
    background: rgba(253, 242, 255, 0.5);
}
.right{
    margin-left: 3em;
}
.right a,.left a{
    display: block;
    position: relative;
}
.right img{
    width: 90px;
    border-radius: 45px;
    box-shadow: 0 0 30px white;
    position: absolute;
    top: 0;
    left: 0;
}
.right .cont{
    font-size: 1em;
    padding: 2em;
    padding-left: 4em;
    display: block;
    width: 90%;
    height: 200px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    top:-3.5em;
    background: rgba(253, 242, 255, 0.5);
}
.bottom{
    margin-bottom: 300px;
}
.cont a{
    font-size: 1.5em;
    display: inline;
}